body {
    background-color: rgb(176, 75, 75);
    
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

#quiz {
    background-color: rgb(122, 40, 40);
    
   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 20px 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: aliceblue;
    max-width: 600px;
}

button[type="submit"] {
    margin-top: 20px;
    background-color: rgb(71, 24, 24);
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

h3 {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

button[type="submit"]:hover {
    background-color: rgb(17, 226, 17);
}